@import "./variables";

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: $colourThree;
    color: $colourTwo;
}

.container {
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    background-color: $colourOne;
    color: $colourTwo;
    font-size: 30px;
}

.btn{
    background-color: $colourFour;
    color: $colourTwo;
    border: 1px solid $colourTwo;
    border-radius: 1px;
    padding: 5px 10px;
    outline: none;
    font-size: 20px;
    &::after {
        border: 2px solid $colourTwo;
    }
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}